@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("../../../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../../../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../../../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("../../../fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../../../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Light Italic";
  src: url("../../../fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../../../fonts/OpenSans-Italic.ttf");
}
.index_top {
  height: 950px;
  position: relative;
}
.index_top .bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  filter: brightness(70%);
}
.index_top .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index_top .overlay .overlay_cnt {
  padding-bottom: 70px;
}
.index_top .overlay .overlay_cnt h1 {
  font-family: "Open Sans Extra Bold";
  font-size: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
  color: white;
  line-height: 110px;
  white-space: pre-wrap;
}
.index_top .overlay .overlay_cnt p {
  font-family: "Open Sans Medium";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links a {
  width: 100%;
  height: 50px;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Semi Bold";
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
  background-color: #004481;
  max-width: 170px;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .about_link:hover {
  background-color: #0da0da;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
  background-color: #004481;
  max-width: 180px;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link:hover {
  background-color: #0da0da;
}

@media all and (max-width: 991px) {
  .index_top {
    height: 750px;
  }
  .index_top .overlay .overlay_cnt {
    padding-bottom: 20px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    line-height: 75px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 21px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
}
@media all and (max-width: 768px) {
  .index_top {
    height: 570px;
  }
  .index_top .overlay .overlay_cnt {
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: block;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 130px;
    margin-bottom: 13px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 140px;
  }
}
@media all and (max-width: 419px) {
  .index_top {
    height: 430px;
  }
  .index_top .overlay .overlay_cnt {
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 26px;
    line-height: 35px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 14px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: block;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 13px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 280px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 15px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 320px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 560px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 19px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 300px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 31px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 16px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 290px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 590px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 21px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 540px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 20px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 590px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 22px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 380px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 150px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 160px;
  }
}/*# sourceMappingURL=Index.module.css.map */