@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("../../../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../../../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../../../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("../../../fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../../../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Light Italic";
  src: url("../../../fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../../../fonts/OpenSans-Italic.ttf");
}
.index_top {
  height: 950px;
  position: relative;
}
.index_top .bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  filter: brightness(70%);
}
.index_top .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index_top .overlay .overlay_cnt {
  padding-bottom: 70px;
}
.index_top .overlay .overlay_cnt h1 {
  font-family: "Open Sans Extra Bold";
  font-size: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
  color: white;
  line-height: 110px;
  white-space: pre-wrap;
}
.index_top .overlay .overlay_cnt p {
  font-family: "Open Sans Medium";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
.index_top .overlay .overlay_cnt ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  font-family: "Open Sans Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  white-space: pre-wrap;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links a {
  width: 100%;
  height: 50px;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Semi Bold";
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
  background-color: #004481;
  max-width: 170px;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .about_link:hover {
  background-color: #0da0da;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
  background-color: #004481;
  max-width: 180px;
}
.index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link:hover {
  background-color: #0da0da;
}

.index_services {
  margin-top: 0px;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
  height: 920px;
  display: flex;
  align-items: center;
  padding: 0;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
  width: 100%;
  height: 100%;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt .bg {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
  justify-content: center;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
  white-space: pre-wrap;
  max-width: 1550px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
  font-family: "Open Sans Extra Bold";
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  color: #004481;
  white-space: pre-wrap;
  line-height: 80px;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
  font-family: "Open Sans Medium";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: #2e2e2e;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  white-space: pre-wrap;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt ul {
  display: grid;
  grid-template-columns: repeat(1, auto);
  font-family: "Open Sans Bold";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  white-space: pre-wrap;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 35px;
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
  width: 100%;
  height: 50px;
  background-color: #004481;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Semi Bold";
}
.index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a:hover {
  background-color: #0da0da;
}

.index_about {
  margin-top: 60px;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
  height: 850px;
  display: flex;
  align-items: center;
  padding: 0;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
  width: 100%;
  height: 100%;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt .bg {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
  justify-content: center;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
  white-space: pre-wrap;
  max-width: 1550px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
  font-family: "Open Sans Extra Bold";
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  color: #004481;
  white-space: pre-wrap;
  line-height: 80px;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
  font-family: "Open Sans Medium";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: #2e2e2e;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
  width: 100%;
  height: 50px;
  background-color: #004481;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Semi Bold";
}
.index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a:hover {
  background-color: #0da0da;
}

.index_contact {
  height: 720px;
  position: relative;
  margin-top: 0px;
}
.index_contact .bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.index_contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.index_contact .overlay .overlay_cnt {
  padding-top: 30px;
}
.index_contact .overlay .overlay_cnt h1 {
  font-family: "Open Sans Extra Bold";
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  color: white;
  white-space: pre-wrap;
  line-height: 80px;
}
.index_contact .overlay .overlay_cnt p {
  font-family: "Open Sans Medium";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: white;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
.index_contact .overlay .overlay_cnt a {
  width: 100%;
  height: 50px;
  background-color: #004481;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Semi Bold";
}
.index_contact .overlay .overlay_cnt a:hover {
  background-color: #0da0da;
}

@media all and (max-width: 1995px) {
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    padding-left: 60px;
    padding-right: 60px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 60px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 20px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    padding-left: 60px;
    padding-right: 60px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 60px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 20px;
  }
  .index_contact {
    margin-top: 0px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 60px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 20px;
  }
}
@media all and (max-width: 991px) {
  .index_top {
    height: 750px;
  }
  .index_top .overlay .overlay_cnt {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
    line-height: 75px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 21px;
  }
  .index_top .overlay .overlay_cnt ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 13px;
    max-width: 390px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    height: 350px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 55px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 19px;
    max-width: 550px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    height: 350px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 55px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 19px;
    max-width: 550px;
  }
  .index_contact {
    margin-top: 20px;
    height: 500px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 19px;
    max-width: 550px;
  }
}
@media all and (max-width: 768px) {
  .index_top {
    height: 570px;
  }
  .index_top .overlay .overlay_cnt {
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: block;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 130px;
    margin-bottom: 13px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 140px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    height: 250px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 17px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    max-width: 140px;
  }
  .index_about {
    margin-top: 20px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    height: 250px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 17px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    max-width: 130px;
  }
  .index_contact {
    margin-top: 20px;
    height: 500px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    line-height: 45px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    max-width: 130px;
  }
}
@media all and (max-width: 419px) {
  .index_top {
    height: 490px;
  }
  .index_top .overlay .overlay_cnt {
    padding: 0;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 26px;
    line-height: 35px;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 14px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt ul {
    display: grid;
    grid-template-columns: repeat(1, auto);
    font-size: 13px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: block;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 13px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
  .index_services {
    margin-top: 15px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    height: 160px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 14px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt ul {
    margin-top: 25px;
    font-size: 13px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 130px;
  }
  .index_about {
    margin-top: 15px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    height: 160px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 14px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 120px;
  }
  .index_contact {
    margin-top: 0px;
    height: 370px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 14px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 120px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 360px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 15px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 13px;
    max-width: 390px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 320px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
  .index_services {
    margin-top: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    height: 180px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 14px;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt ul {
    display: grid;
    grid-template-columns: repeat(1, auto);
    font-size: 13px;
    max-width: 390px;
    margin-top: 28px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 130px;
  }
  .index_about {
    margin-top: 5px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    height: 180px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 14px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 120px;
  }
  .index_contact {
    margin-top: 0px;
    height: 270px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 14px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 120px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 560px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 19px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
  .index_services {
    margin-top: 55px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    height: 230px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 17px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 150px;
  }
  .index_about {
    margin-top: 25px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    height: 230px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 17px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 140px;
  }
  .index_contact {
    margin-top: 0px;
    height: 390px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 40px;
    line-height: 35px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 140px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 360px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 31px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 16px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 290px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 120px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 130px;
  }
  .index_services {
    margin-top: 0px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 635px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    max-width: 40%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 15px;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt ul {
    font-size: 15px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 135px;
  }
  .index_about {
    margin-top: 0px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 365px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    max-width: 40%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 15px;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 135px;
  }
  .index_contact {
    margin-top: 0px;
    height: 280px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 30px;
    line-height: 25px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 15px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 125px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 590px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 21px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt ul {
    grid-template-columns: repeat(2, auto);
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
  .index_services {
    margin-top: 0px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 795px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    max-width: 40%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 500px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 17px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 150px;
  }
  .index_about {
    margin-top: 0px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 525px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    max-width: 40%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 500px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 17px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 150px;
  }
  .index_contact {
    margin-top: 0px;
    height: 420px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 140px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 590px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: block;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 20px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index_top .overlay .overlay_cnt ul {
    grid-template-columns: repeat(2, auto);
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 360px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 140px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 150px;
  }
  .index_services {
    margin-top: 0px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 795px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    max-width: 40%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 500px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 17px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 150px;
  }
  .index_about {
    margin-top: 0px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 455px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    max-width: 40%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 500px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 17px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 140px;
  }
  .index_contact {
    margin-top: 0px;
    height: 420px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 17px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 140px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 590px;
  }
  .index_top .overlay .overlay_cnt {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .index_top .overlay .overlay_cnt h1 br {
    display: none;
  }
  .index_top .overlay .overlay_cnt p {
    font-size: 22px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links {
    max-width: 380px;
    display: flex;
    text-align: center;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links a {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .about_link {
    max-width: 150px;
    margin-bottom: 0px;
  }
  .index_top .overlay .overlay_cnt .overlay_cnt_links .contact_link {
    max-width: 160px;
  }
  .index_services {
    margin-top: 0px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_inner_side {
    max-width: 100%;
    width: 100%;
    height: 795px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L {
    max-width: 40%;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_L .index_services_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt {
    max-width: 700px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt h1 {
    font-size: 50px;
    line-height: 45px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt p {
    font-size: 19px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_services .index_services_inner .index_services_inner_box .index_services_inner_row .index_services_R .index_services_inner_side_cnt a {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    max-width: 160px;
  }
  .index_about {
    margin-top: 50px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_inner_side {
    max-width: 100%;
    width: 100%;
    height: 625px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R {
    max-width: 40%;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_R .index_about_inner_side_cnt {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L {
    max-width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt {
    max-width: 700px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt h1 {
    font-size: 50px;
    line-height: 45px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt p {
    font-size: 19px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_about .index_about_inner .index_about_inner_box .index_about_inner_row .index_about_L .index_about_inner_side_cnt a {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    max-width: 160px;
  }
  .index_contact {
    margin-top: 0px;
    height: 500px;
  }
  .index_contact .overlay .overlay_cnt {
    padding-top: 10px;
  }
  .index_contact .overlay .overlay_cnt h1 {
    font-size: 50px;
    line-height: 45px;
  }
  .index_contact .overlay .overlay_cnt p {
    font-size: 19px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .index_contact .overlay .overlay_cnt a {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    max-width: 160px;
  }
}/*# sourceMappingURL=Index.module.css.map */